.about {
    &__content {
        display: flex;
        flex-direction: column;

        @media(min-width: $tablet-width) {
            flex-direction: row; 
        }
    }

    &__picture {
        background-image: url('../assets/me.jpeg');
        background-size: cover;
        border-radius: $border-radius;
        border-bottom: $border-style;
        border-left: $border-style;
        box-shadow: $box-shadow-style;
        height: 300px;
        min-width: 300px;
        margin-top: 15px;
    }

    &__text {
        @media (min-width: $tablet-width) {
            padding: 0 20px;
        }
    }
}