.contact {
    height: calc( 100vh - #{$header-height});
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

  &__heading {
      font-size: 24px;
  }

  &__list {
    padding: 0;
    text-align: left;
  }

  &__emoji {
    cursor: pointer;
    display: inline-block;
    transform-origin: center center;
    animation: grow-shrink;
    animation-delay: 1s;
    animation-duration: 1s;
    width: 20px;
    transform: scale3d(1, 1, 1) translate3d(-2px, 1px, 1px);
    
    &:hover {
        animation: grow-shrink;
        animation-delay: 0;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
  }

     
  &__list-text {
      display: inline-block;
      transform: translate3d(0, 0, 0);
      transition: transform .5s ease;
      transition-delay: .25s;
      padding-left: 35px;
      transform-origin: center;
}
  
  &__list-item { 
    background-size: 25px;
    background-position: 0;
    background-repeat: no-repeat;
    font-size: 22px;
    list-style-type: none;
    margin: 10px 0;
    transition: background-size .5s ease;
  

    &:hover {
      background-size: 30px;
        .contact__list-text {
        // TODO: Write an animation to have it float around back and forth
        animation: float-around;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  
 
    &--linkedin {
      background-image: url(../assets/linkedin-logo.png)
    }

    &--github {
      background-image: url(../assets/github-logo.svg)
    }

    &--twitter {
      background-image: url(../assets/twitter-logo.svg);
      background-size: 35px;
      background-position: -5px -1px;
      
      &:hover {
        background-size: 40px;
      }
    }

    &--email {
      background-image: url(../assets/mail-icon.svg)
    }
  }


}