body, html, #root {
    background-color: $background-color;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Avenir', Helvetica, sans-serif
}

a,
a:visited { 
    color: $text-color;
    text-decoration: none;
    transition: $link-transition;
}