.header { 
  box-sizing: border-box;
  height: $header-height;
  width: 100%;
  background: #cccccc;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  z-index: 100;

  &__burger-menu {
    background-image: url(../assets/burgermenu.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    height: $burger-menu-size;
    width: $burger-menu-size;
  }
}