$border-style: 1px solid #aaaaaa;

.projects {
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__tiles {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
  }
    &__project-tile {
        cursor: pointer;
        height: 150px;
        margin: 10px;
        padding: 10px;
        transition: background-size .5s linear;
        background-size: 130%;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 5px;
        border-bottom: $border-style;
        border-right: $border-style;
        box-shadow: 2px 2px 16px 2px #aaaaaa;
        width: 250px;

        &:focus, 
        &:hover {
            background-size: 135%;
        }
    }

    &__title,
    &__description {
        color: #111111;

        span { 
            background: rgba(255, 255, 255, .8);
        }
    }

    &__filters {
      background: rgba(255, 255, 255, .8);
      padding: 20px;
      position: fixed;
      position: sticky;
      text-align: center;
      top: 0;

      @media (min-width: 768px) {
        text-align: right;
        min-width: 200px;
      }
    }

    &__filter { 
      cursor: pointer; 
      transition: $link-transition;
      display: inline-block;
      margin: 5px;
      transform: translate3d(0, 0, 0);

      &--selected {
          color: #aaaaaa;
          transform: translate3d(0, -5px, 0);
          @media(min-width: 768px) {
              transform: translate3d(5px, 0, 0);
          }
      }

      &:hover {
        color: #aaaaaa;
        transform: translate3d(0, -5px, 0);
      }
      
    @media (min-width: 768px) {
        display: block;
        &:hover { 
            transform: translate3d(5px, 0, 0);
            }
        }
    &__fixed-filter-container {
      position: fixed;
    }
  }
}
