$border-style: 1px solid #aaaaaa;

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__tiles {
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    padding: 20px;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
  }
    &__project-tile {
        cursor: pointer;
        height: 150px;
        margin: 10px;
        padding: 10px;
        transition: background-size .5s linear;
        background-size: 110%;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 5px;
        border-bottom: $border-style;
        border-right: $border-style;
        box-shadow: 2px 2px 16px 2px #aaaaaa;
        width: 250px;

        &:focus, 
        &:hover {
            background-size: 120%;
        }
    }

    &__title,
    &__description {
        color: #111111;

        span { 
            background: rgba(255, 255, 255, .8);
            padding: 0 5px;

        }
    }

    &__filters {
      text-align: center;
      padding: 20px;
      @media (min-width: 768px) {
        text-align: right;
        min-width: 200px;
      }
    }

    &__filter { 
      cursor: pointer; 
      transition: color .5s ease-out;
      display: inline-block;
      margin: 5px;
       @media (min-width: 768px) {
        display: block;
      }

      &:hover { 
        color: #aaaaaa;
      }
    }

  @media (min-width: 768px) {
    &__fixed-filter-container {
      position: fixed;
    }
  }
}
