.title { 
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__heading { 
      font-size: 36px;

      @media(min-width: $tablet-width) {
          font-size: 54px;
      }
  }

  &__signature {
    background-image: url(../assets/signature.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    height: 100px;
    width: 100%;
  }

  &__link { 
      display: inline-block;
      padding: 0 5px;
      transform: translate3d(0, 0, 0);

      &:hover, 
      &:active {
        color: $link-highlight-color;
        transform: translate3d(0, -5px, 0);
      }
  }
}