.fade {
    &-appear {
        opacity: 0;
        
        &-active {
            opacity: 1;
            transition: all .5s ease-out;
        }
    }
    &-enter {
        opacity: 0;
        
        &-active {
            opacity: 1;
            transition: all .5s ease-out;
        }
    }
    
    &-leave {
        opacity: 1;
        &-active {
            opacity: 0;
            transition: all .5s ease-out;
        }
    }
}
