body, html, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Avenir', Helvetica, sans-serif; }

.title {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.title__signature {
  background-image: url(../assets/signature.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 100px;
  width: 100%; }

.projects {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 768px) {
  .projects {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; } }

.projects__tiles {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 768px) {
  .projects__tiles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; } }

.projects__project-tile {
  cursor: pointer;
  height: 150px;
  margin: 10px;
  padding: 10px;
  transition: background-size .5s linear;
  background-size: 110%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  box-shadow: 2px 2px 16px 2px #aaaaaa;
  width: 250px; }

.projects__project-tile:focus, .projects__project-tile:hover {
  background-size: 120%; }

.projects__title, .projects__description {
  color: #111111; }

.projects__title span, .projects__description span {
  background: rgba(255, 255, 255, 0.8); }

.projects__filters {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  position: fixed;
  position: sticky;
  text-align: center;
  top: 0; }

@media (min-width: 768px) {
  .projects__filters {
    text-align: right;
    min-width: 200px; } }

.projects__filter {
  cursor: pointer;
  transition: color .5s ease-out;
  display: inline-block;
  margin: 5px; }

@media (min-width: 768px) {
  .projects__filter {
    display: block; } }

.projects__filter:hover {
  color: #aaaaaa; }

@media (min-width: 768px) {
  .projects__fixed-filter-container {
    position: fixed; } }

.header {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background: #cccccc;
  padding: 5px 20px;
  position: absolute;
  top: 0;
  z-index: 100; }

.header__burger-menu {
  background-image: url(../assets/burgermenu.svg);
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  height: 40px;
  width: 40px; }

.navigation {
  background: rgba(255, 255, 255, 0.9);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(2000px, 0, 0);
  transition: transform 1s ease;
  width: 100%;
  z-index: 100000; }

.navigation.active {
  transform: translate3d(0, 0, 0); }

.navigation ul {
  list-style-type: none;
  padding-right: 20px;
  text-align: right; }

.navigation__close {
  font-size: 30px;
  padding: 0 20px;
  text-align: right; }
