body, html, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Avenir', Helvetica, sans-serif; }

a,
a:visited {
  color: #111111;
  text-decoration: none;
  transition: transform 0.5s ease-out, color 0.5s ease-out; }

.content {
  margin-top: 25px;
  min-height: calc( 100vh - 25px);
  padding: 10px; }

/* Components */
.fade-appear {
  opacity: 0; }

.fade-appear-active {
  opacity: 1;
  transition: all .5s ease-out; }

.fade-enter {
  opacity: 0; }

.fade-enter-active {
  opacity: 1;
  transition: all .5s ease-out; }

.fade-leave {
  opacity: 1; }

.fade-leave-active {
  opacity: 0;
  transition: all .5s ease-out; }

.header {
  box-sizing: border-box;
  height: 25px;
  width: 100%;
  background: #cccccc;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  z-index: 100; }

.header__burger-menu {
  background-image: url(../assets/burgermenu.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
  height: calc(25px - calc( 0.4 * 25px));
  width: calc(25px - calc( 0.4 * 25px)); }

.title {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.title__signature {
  background-image: url(../assets/signature.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 100px;
  width: 100%; }

.projects {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 768px) {
  .projects {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; } }

.projects__tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%; }

@media (min-width: 768px) {
  .projects__tiles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; } }

.projects__project-tile {
  cursor: pointer;
  height: 150px;
  margin: 10px;
  padding: 10px;
  transition: background-size .5s linear;
  background-size: 130%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  box-shadow: 2px 2px 16px 2px #aaaaaa;
  width: 250px; }

.projects__project-tile:focus, .projects__project-tile:hover {
  background-size: 135%; }

.projects__title, .projects__description {
  color: #111111; }

.projects__title span, .projects__description span {
  background: rgba(255, 255, 255, 0.8); }

.projects__filters {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  position: fixed;
  position: sticky;
  text-align: center;
  top: 0; }

@media (min-width: 768px) {
  .projects__filters {
    text-align: right;
    min-width: 200px; } }

.projects__filter {
  cursor: pointer;
  transition: transform 0.5s ease-out, color 0.5s ease-out;
  display: inline-block;
  margin: 5px;
  transform: translate3d(0, 0, 0); }

.projects__filter--selected {
  color: #aaaaaa;
  transform: translate3d(0, -5px, 0); }

@media (min-width: 768px) {
  .projects__filter--selected {
    transform: translate3d(5px, 0, 0); } }

.projects__filter:hover {
  color: #aaaaaa;
  transform: translate3d(0, -5px, 0); }

@media (min-width: 768px) {
  .projects__filter {
    display: block; }
  .projects__filter:hover {
    transform: translate3d(5px, 0, 0); } }

.projects__filter__fixed-filter-container {
  position: fixed; }

.navigation {
  background: rgba(255, 255, 255, 0.9);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(2000px, 0, 0);
  transition: transform 1s ease;
  width: 100%;
  z-index: 100000; }

.navigation.active {
  transform: translate3d(0, 0, 0); }

.navigation ul {
  list-style-type: none;
  padding-right: 15px;
  text-align: right;
  width: auto;
  float: right; }

.navigation__close {
  cursor: pointer;
  font-size: 30px;
  padding: 0 15px;
  text-align: right; }

.navigation__menu-item {
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease-out, color 0.5s ease-out; }

.navigation__menu-item:hover {
  transform: translate3d(-5px, 0, 0); }

.contact {
  font-size: 20px; }

.contact__list-item {
  list-style-type: none;
  background-size: 25px;
  background-position: 0;
  background-repeat: no-repeat;
  margin: 10px 0;
  transition: background-size .5s ease; }

.contact__list-item span {
  display: inline-block;
  transform: translate3d(0, 0, 0);
  transition: transform .5s ease;
  transition-delay: .25s;
  padding-left: 35px; }

.contact__list-item:hover {
  background-size: 30px; }

.contact__list-item:hover span {
  transform: translate3d(5px, 0, 0); }

.contact__list-item--linkedin {
  background-image: url(../assets/linkedin-logo.png); }

.contact__list-item--github {
  background-image: url(../assets/github-logo.svg); }

.contact__list-item--twitter {
  background-image: url(../assets/twitter-logo.svg);
  background-size: 30px;
  background-position: -1px 0; }

.contact__list-item--twitter:hover {
  background-size: 35px; }

.contact__list-item--email {
  background-image: url(../assets/mail-icon.svg); }
